DST_GAMEMODE=endless
DST_PLAYERCOUNT=12
DST_PVP=false
#
DST_DESC=Server Description
DST_NAME=Server Name
DST_INTENT=madness
DST_PW=verycoolpassword
#
DST_BIND_IP=0.0.0.0
DST_MASTER_PORT=10889
DST_CLUSTER_KEY=supersecretclusterkey
#
SHARD=Master
#
CLUSTER_TOKEN=pds-g^KU_xOK93LOL^5J3WTyaVIJfduxVhkefEvxO7UvIbkDsS/nqrzx9CMuk=
MODS=2659067616
COLLECTIONS=2865405455

